body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.login-button,
.signup-button {
  color: #fff;
  background-color: #5e72e4;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}

.signup-button {
  background-color: #11cdef;
}

#hero {
  background-size: cover;
  color: #fff;
  text-align: left;
  padding: 150px 0;
}

#hero h1 {
  margin-bottom: 30px;
}

#hero p {
  margin-top: 20px;
}

.k-button.k-primary {
  margin-top: 30px;
  font-size: 1.2rem;
  padding: 12px 30px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(74, 144, 226, 0.4);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.k-button.k-primary:hover {
  background-color: #357abd;
  box-shadow: 0 8px 25px rgba(53, 122, 189, 0.5);
}

.get-started-section {
  padding: 60px 0;
  text-align: center;
}

.step-cards-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.get-started-section .k-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.get-started-section .k-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.k-card {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.get-started-section h2 {
  margin-bottom: 40px;
  color: #fff !important;
  text-align: center !important;
  margin-top: 80px;
  margin-right: 20px;
}

.gradient-background {
  background: linear-gradient(to bottom, #2b2e70, #090919);
}

.k-card-deck .k-card {
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.k-card .k-card-body {
  text-align: center;
}

.container.mt-4 {
  margin-top: 2rem !important;
}

.services-section {
  padding: 100px 0;
  color: #fff;
  position: relative;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-text {
  flex: 1;
  float: left;
  max-width: 540px;
  margin-right: 40px;
}

.services-image {
  flex: 1;
  max-width: 50%;
  align-self: start;
  position: relative;
  z-index: 2;
  margin-left: auto;
}

.services-image img {
  width: 65%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: 250px;
  margin-top: -50px;
}

.services-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.services-text p {
  margin-bottom: 100px;
}

.services-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
  gap: 30px;
}

.service-item {
  padding-left: 15px;
  flex: 1;
}

.service-icon {
  max-width: 100px;
  margin-bottom: 15px;
}

.service-item .fa-file-medical,
.service-item .fa-user-doctor,
.service-item .fa-users-viewfinder,
.service-item .fa-stethoscope {
  font-size: 4rem;
  color: #8446d0;
}

.service-icon {
  font-size: 3rem;
  color: #7598f6;
  text-shadow: 0 0 10px #050608;
}

.services-divider {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 65, 108, 0), #ff416c, rgba(255, 65, 108, 0));
  position: absolute;
  right: -15px;
  top: 0;
}

.section-separator {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #7554bd, transparent);
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-section {
  color: #7b7e7e;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-logo-column {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-logo {
  color: #ffffff;
  font-size: 1.75em;
  text-decoration: none;
}

.footer-logo i {
  font-size: 2em;
  margin-right: 0.5em;
}

.footer-logo:hover {
  color: #ffffff;
}

.footer-columns-container {
  display: flex;
  flex: 0 0 70%;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 0 15px;
  white-space: nowrap;
  height: 100%;
}

.footer-columns-container .footer-column:nth-child(1),
.footer-columns-container .footer-column:nth-child(2) {
  margin-right: 20px;
}

.footer-columns-container .footer-column:nth-child(3) {
  margin-right: 0;
}

.footer-column:last-child {
  padding-right: 0;
}

.footer-column:nth-child(2) .footer-link:nth-child(2) {
  margin-top: auto;
}

.footer-column:nth-child(3) .contact-info:nth-last-child(2) {
  margin-top: auto;
}

.footer-link {
  display: block;
  color: inherit;
  margin-bottom: 0.5rem;
}

.contact-info {
  color: inherit;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
