body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

.panel-heading {
  margin: 1rem 0;
  width: 100%;
  max-width: 1000px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e3e6f0;
  background-color: #392467;
  color: #fff;
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.form-group .form-control,
.form-group .btn {
  max-width: 100%;
}

.panel {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  width: 80%;
  display: none;
}

.panel-body {
  padding: 2rem;
  color: #5a5c69;
}

#personalInfoPanel {
  display: block;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
}

.btn-primary,
.btn-info {
  background-color: #5e72e4;
  border-color: #5e72e4;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-primary:hover,
.btn-info:hover {
  background-color: #324cdd;
  border-color: #324cdd;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #e3e6f0;
}

.table th {
  color: #392467;
  padding: 12px 15px;
}

.alert {
  border: 1px solid #ced4da;
}

.btn-info {
  display: block;
  width: 50%;
  margin: 1rem auto;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #324cdd;
  border-color: #324cdd;
}

.alert-danger {
  background-color: #d9534f;
  color: #ffffff;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c9302c;
  border-color: #c9302c;
}

.alert-info {
  background-color: #5bc0de;
  color: #ffffff;
}

#records {
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
  font-family: "Courier New", monospace;
}

#recordsHash a {
  color: #5e72e4;
  text-decoration: underline;
}

#recordsHash a:hover,
#recordsHash a:focus {
  color: #324cdd;
}

#records::-webkit-scrollbar {
  width: 8px;
}

#records::-webkit-scrollbar-thumb {
  background: #5e72e4;
  border-radius: 10px;
}
